p, div, #m_command_input {
  padding: 0px;
  border: 0px;
  margin: 0px;
}

/* lynn */

p, div, span, input {
  box-sizing: border-box;
}

.lynn {
  position: fixed;
  top: 100px;
  left: 50%;
  margin-left: -350px;
  z-index: 99999;

  display: none;
}

.hidden {
  display: none;
}

/* lynn top */

.lynn_top {
  border: 2px #ddd solid;
}

.lynn_console {
  width: 640px;
  height: 50px;
  padding: 12px 20px;
  border: none;
  border-right: 2px #ddd solid;

  font-size: 20px;
  font-family: 'Helvetica Neue';
}

.lynn_console_status {
  display: inline-block;
  vertical-align: top;

  width: 60px;
  height: 50px;
}

.lynn_console_status_icon {
  display: inline-block;
  text-align: center;
  
  width: 60px;
  height: 50px;

  padding-top: 12px;
}

/* lynn mid */

.lynn_mid {
  border-left: 2px #ddd solid;
  border-right: 2px #ddd solid;
}

.lynn_suggestion {
  width: 700px;

  font-family: 'Open Sans';
  color: #777777;

  padding: 12px 20px;
  border-bottom: 2px #ddd solid;

  background-color: #fff;
}

div.lynn_suggestion {
  -webkit-animation-duration: 0.2s;
}

.lynn_suggestion_current {
  background-color: lightblue;
}

.lynn_mainline {
  font-size: 16px;
}

.lynn_tagline {
  text-align: right;
  font-size: 16px;
  color: green;
}

.lynn_tag {
  padding-left: 5px;
}

/* lynn bot */
.lynn_bot {
  border: 2px #ddd solid;
  border-top: none;
  background-color: #fff;
}

.lynn_pageView {
  display: inline-block;
  width: 700px;
  height: 40px;

  text-align: right;
  font-size: 14px;

  padding: 12px;
}


/* lynn end */
