/* lynn */

.lynn p, 
.lynn div, 
.lynn span, 
.lynn input {
  box-sizing: border-box;
}

.lynn {
  position: fixed;
  top: 100px;
  left: 50%;
  margin-left: -350px;
  z-index: 99999;
}

div.lynn {
  -webkit-animation-duration: 0.2s;
}

.hidden {
  display: none;
}

.transparent {
  opacity: 0;
}

/* lynn top */

.lynn_top {
  border: 2px #ddd solid;
  background-color: #fff;
}

.lynn_console {
  width: 640px;
  height: 50px;
  padding: 12px 20px;
  border: none;
  border-right: 2px #ddd solid;

  font-size: 20px;
  font-family: 'Helvetica Neue';
}

.lynn_console_status {
  display: inline-block;
  vertical-align: top;

  width: 60px;
  height: 50px;
}

.lynn_console_status_icon {
  display: inline-block;
  text-align: center;
  
  width: 60px;
  height: 50px;

  padding-top: 12px;
}

/* lynn mid */

.lynn_mid {
  border-left: 2px #ddd solid;
  border-right: 2px #ddd solid;
  background-color: #fff;
}

.lynn_suggestion {
  width: 700px;

  font-family: 'Open Sans';
  color: #777777;

  padding: 12px 20px;
  border-bottom: 2px #ddd solid;
}

div.lynn_suggestion {
  -webkit-animation-duration: 0.2s;
}

.lynn_suggestion_selected {
  background-color: lightgray;
}

.lynn_suggestion_current {
  background-color: lightblue;
}

.lynn_mainline {
  font-size: 16px;
}

.lynn_tagline {
  text-align: right;
  font-size: 16px;
  color: green;
}

.lynn_tag {
  padding-left: 5px;
}

/* lynn bot */
.lynn_bot {
  border: 2px #ddd solid;
  border-top: none;
  background-color: #fff;
}

.lynn_info {
  display: inline-block;
  vertical-align: top;
  width: 120px;
  height: 40px;

  font-size: 14px;

  padding: 12px;
  padding-left: 20px;
}

.lynn_select_info {
  display: inline-block;
  vertical-align: top;
  width: 480px;
  height: 40px;

  font-size: 14px;
  padding: 12px;
}

.lynn_pageView {
  display: inline-block;
  vertical-align: top;
  width: 100px;
  height: 40px;

  text-align: right;
  font-size: 14px;

  padding: 12px;
}


/* lynn end */
