head
  meta(charset="utf-8")

  title lynn

  link(rel="stylesheet" type="text/css" href="chrome-bootstrap.css")

  script(src="../vendor/js/jquery.min.js" type="text/javascript")
  script(src="../lib/option/option.js" type="text/javascript")
