.navigation
  h1
    a(href="#") Lynn
  ul.menu
    li.selected
      a(href="#ui") UI
    li
      a(href="#searching") Searching
    li
      a(href="#fast") Fast Action
    li
      a(href="#commands") Commands
  ul.menu
    li
      a(href="#tutorial") Tutorial
