---
layout: default
---

<section id="home" class="view selected">

  <h2>Lynn</h2>
  <p>Chrome bookmark manager. #Tags. The Vim way.</p>

  <h2>Feature</h2>
  <ul>
    <li>Find, open &amp; manage bookmarks easily with tags</li>
    <li><b>Sublime</b>-like fuzzy search</li>
    <li>Bulk operation on multiple bookmarks</li>
    <li><b>Vim</b>-like shortcuts</li>
    <li>Group bookmarks into sessions to open altogether</li>
    <li>Advanced features like Markdown reference output &amp; selection multi-add bookmarks</li>
  </ul>

  <h2>Link</h2>

  <p>
  <a href="https://chrome.google.com/webstore/detail/lynn/addhcckhdjeddcehoelbklmanbpadggk"
     target="_blank">
    Chrome Store Download
  </a>
  </p>

  <p>
  <a href="https://www.youtube.com/watch?v=6okSvOLjmfY" target="_blank">
    Youtube Demo
  </a>
  </p>

  <p>
  <a href="https://github.com/octref/lynn" target="_blank">
    Github Repo
  </a>
  </p>

</section>

<section id="doc" class="view">
  {% capture doc %}{% include pages/doc.md %}{% endcapture %}
  {{ doc | markdownify }}
</section>

<section id="cn_doc" class="view">
  {% capture cn_doc %}{% include pages/cn_doc.md %}{% endcapture %}
  {{ cn_doc | markdownify }}
</section>

<section id="about" class="view">
  {% capture about %}{% include pages/about.md %}{% endcapture %}
  {{ about | markdownify }}
</section>

