.mainview.view
  #dashboard.selected
    header
      h1 Dashboard
    #dashboard_container.content

  #tutorial
    header
      h1 Tutorial

  #ui
    header
      h1 UI
    .content
      div(style="margin: 20px 0")
        p How many suggestions are shown in each page
        input#MAX_SUGGESTION_NUM(type="text" placeholder="0-10")
      button#save Save

  #searching
    header
      h1 Searching
    .content
      div(style="margin-top: 10px")
        label
          input(type="checkbox")
          span Ignore case
      div(style="margin-top: 10px")
        button Perform

  #fast
    header
      h1 Fast Action
    .content

  #commands
    header
      h1 Commands
