<head>
    <meta charset="utf-8">

    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/asset/favicon.png">

    <link rel="stylesheet" href="{{ site.baseurl }}/css/nav.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Exo:300,500' rel='stylesheet' type='text/css'>

    <script src="//cdnjs.cloudflare.com/ajax/libs/zepto/1.1.4/zepto.min.js"></script>
    <script src="{{ site.baseurl }}/js/main.js"></script>
    {% include ga.html %}
</head>
