<head>
    <meta charset="utf-8">

    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.2/normalize.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/github-markdown.css">    

    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">

    {% include ga.html %}
</head>
