doctype html
html(lang='en')

include ./jade_includes/head.jade

body.chrome-bootstrap
  block navigation
  .frame
    include ./jade_includes/navigation.jade

    include ./jade_includes/mainview.jade


