head
  meta(charset="utf-8")

  title lynn

  link(rel="stylesheet" type="text/css" href="../css/chromeOptionPage.css")

  script(src="../lib/jquery.min.js" type="text/javascript")
  script(src="../lib/lodash.min.js" type="text/javascript")
  script(src="../lib/react.js" type="text/javascript")

  script(src="../bin/option/react/dashboard.js" type="text/javascript")
  script(src="../bin/option/option.js" type="text/javascript")
