head
  meta(charset="utf-8")

  title lynn

  link(rel="stylesheet" type="text/css" href="../css/option.css")

  script(src="../../../lib/jquery.min.js" type="text/javascript")
  script(src="../../../lib/lodash.min.js" type="text/javascript")
  script(src="../../../lib/react.js" type="text/javascript")

  script(src="../../../js/shared_messaging.js" type="text/javascript")
  script(src="../../../js/shared_storage.js" type="text/javascript")
  script(src="../js/option.js" type="text/javascript")
