doctype html
html(lang='en')

include head

body.chrome-bootstrap
  block navigation
  .frame
    // Nav bar in left
    .navigation
      h1(id="home") Lynn

      ul.menu
        li.selected
          a(href="#dashboard") Dashboard
        li
          a(href="#general") General
  
    .mainview.view
      #dashboard.selected
        header
          h1 Dashboard
        #dashboard_container.content

      #general
        header
          h1 General Options
        #general_container.content

