head
  meta(charset="utf-8")

  title lynn

  link(rel="stylesheet" type="text/css" href="../css/chrome_option_page.css")

  script(src="../../../lib/jquery.min.js" type="text/javascript")
  script(src="../../../lib/lodash.min.js" type="text/javascript")
  script(src="../../../lib/react.js" type="text/javascript")

  script(src="../js/dashboard.js" type="text/javascript")
  script(src="../js/main.js" type="text/javascript")
