doctype html
html(lang='en')

include head.jade

body.chrome-bootstrap
  block navigation
  .frame
    // Nav bar in left
    .navigation
      h1
        a(href="#") Lynn

      ul.menu
        li.selected
          a(href="#dashboard") Dashboard
  
    .mainview.view
      #dashboard.selected
        header
          h1 Dashboard
        #dashboard_container.content

      #test
        header
          h1 Test

        .content
          p hi
